DAY38_BACKEND_PORT=
DAY38_FRONTEND_PORT=

DAY38_APP_ENV=
DAY38_DEPLOY_TARGET=
DAY38_APP_VERSION=
DAY38_SERVICE_NAME=
DAY38_FEATURE_FLAG=
DAY38_LOG_LEVEL=
DAY38_METRICS_ENABLED=
DAY38_BUILD_NUMBER=
DAY38_GIT_COMMIT=
DAY38_IMAGE_TAG=
