DAY48_BACKEND_PORT=
DAY48_FRONTEND_PORT=

DAY48_APP_ENV=
DAY48_DEPLOY_TARGET=
DAY48_APP_VERSION=
DAY48_SERVICE_NAME=
DAY48_FEATURE_FLAG=
DAY48_LOG_LEVEL=
DAY48_METRICS_ENABLED=
DAY48_BUILD_NUMBER=
DAY48_GIT_COMMIT=
DAY48_IMAGE_TAG=
DAY48_RELEASE_CREATED_AT=
DAY48_ROLLBACK_IMAGE_TAG=
DAY48_ROLLBACK_MODE=
DAY48_STABILITY_CHECK_WINDOW_SECONDS=
DAY48_STABILITY_CHECK_INTERVAL_SECONDS=
DAY48_FORCE_STABILITY_FAILURE=
DAY48_PROMOTION_TARGET=
DAY48_PROMOTION_APPROVED=
DAY48_CHANGE_RECORD_ID=
DAY48_RELEASE_NOTES_REQUIRED=
DAY48_RELEASE_NOTES_STATUS=
DAY48_APPROVAL_REQUIRED=
DAY48_APPROVAL_STATUS=
DAY48_APPROVED_BY=
DAY48_APPROVAL_REASON=
DAY48_DEPLOYMENT_WINDOW_STATUS=
DAY48_CHANGE_FREEZE_ACTIVE=
DAY48_FREEZE_REASON=
