DAY47_BACKEND_PORT=
DAY47_FRONTEND_PORT=

DAY47_APP_ENV=
DAY47_DEPLOY_TARGET=
DAY47_APP_VERSION=
DAY47_SERVICE_NAME=
DAY47_FEATURE_FLAG=
DAY47_LOG_LEVEL=
DAY47_METRICS_ENABLED=
DAY47_BUILD_NUMBER=
DAY47_GIT_COMMIT=
DAY47_IMAGE_TAG=
DAY47_RELEASE_CREATED_AT=
DAY47_ROLLBACK_IMAGE_TAG=
DAY47_ROLLBACK_MODE=
DAY47_STABILITY_CHECK_WINDOW_SECONDS=
DAY47_STABILITY_CHECK_INTERVAL_SECONDS=
DAY47_FORCE_STABILITY_FAILURE=
DAY47_PROMOTION_TARGET=
DAY47_PROMOTION_APPROVED=
DAY47_CHANGE_RECORD_ID=
DAY47_RELEASE_NOTES_REQUIRED=
DAY47_RELEASE_NOTES_STATUS=
DAY47_APPROVAL_REQUIRED=
DAY47_APPROVAL_STATUS=
DAY47_APPROVED_BY=
DAY47_APPROVAL_REASON=
