DAY46_BACKEND_PORT=
DAY46_FRONTEND_PORT=

DAY46_APP_ENV=
DAY46_DEPLOY_TARGET=
DAY46_APP_VERSION=
DAY46_SERVICE_NAME=
DAY46_FEATURE_FLAG=
DAY46_LOG_LEVEL=
DAY46_METRICS_ENABLED=
DAY46_BUILD_NUMBER=
DAY46_GIT_COMMIT=
DAY46_IMAGE_TAG=
DAY46_RELEASE_CREATED_AT=
DAY46_ROLLBACK_IMAGE_TAG=
DAY46_ROLLBACK_MODE=
DAY46_STABILITY_CHECK_WINDOW_SECONDS=
DAY46_STABILITY_CHECK_INTERVAL_SECONDS=
DAY46_FORCE_STABILITY_FAILURE=
DAY46_PROMOTION_TARGET=
DAY46_PROMOTION_APPROVED=
DAY46_CHANGE_RECORD_ID=
DAY46_RELEASE_NOTES_REQUIRED=
DAY46_RELEASE_NOTES_STATUS=
