DAY42_BACKEND_PORT=
DAY42_FRONTEND_PORT=

DAY42_APP_ENV=
DAY42_DEPLOY_TARGET=
DAY42_APP_VERSION=
DAY42_SERVICE_NAME=
DAY42_FEATURE_FLAG=
DAY42_LOG_LEVEL=
DAY42_METRICS_ENABLED=
DAY42_BUILD_NUMBER=
DAY42_GIT_COMMIT=
DAY42_IMAGE_TAG=
DAY42_RELEASE_CREATED_AT=
DAY42_ROLLBACK_IMAGE_TAG=
DAY42_ROLLBACK_MODE=
