DAY39_BACKEND_PORT=
DAY39_FRONTEND_PORT=

DAY39_APP_ENV=
DAY39_DEPLOY_TARGET=
DAY39_APP_VERSION=
DAY39_SERVICE_NAME=
DAY39_FEATURE_FLAG=
DAY39_LOG_LEVEL=
DAY39_METRICS_ENABLED=
DAY39_BUILD_NUMBER=
DAY39_GIT_COMMIT=
DAY39_IMAGE_TAG=
DAY39_RELEASE_CREATED_AT=
